.link {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 250ms;
}

.link:hover {
    color: coral;
}

:global(.active) {
    color: red
}

.div {
    margin-left: auto;
}